* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
  background-color: var(--light);
  color: var(--dark);
}

a {
  text-decoration: none;
}
