header {
  background: var(--dark);
}
nav .ti-menu-2 {
  display: none;
}
nav {
  padding: var(--spacing-500) var(--spacing-300);
}
nav .ti-menu-2 {
  display: none;
}
.navigation-list {
  width: 100%;
  position: initial;
  display: flex;
  justify-content: end;
  padding: 0;
  background-color: transparent;
  backdrop-filter: blur(0);
  opacity: 1;
}
.navigation-list ul {
  flex-direction: row;
}
.navigation-list a {
  color: var(--light);
}
.navigation-list a:hover {
  color: var(--accent-color-200);
}
.visitor {
  width: 40vw;
  height: auto;
  margin: 0 auto;
  padding: var(--spacing-400);
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 25%;
  left: 0;
  right: 0;
  background-color: var(--accent-color-100);
  border-radius: 20px;
}
.visitor h2 {
  font-family: var(--ff-secondary);
  font-weight: 500;
  margin-bottom: var(--spacing-500);
}
.visitor input {
  width: 100%;
  padding: var(--spacing-500);
  margin-bottom: var(--spacing-600);
  border: none;
  border-radius: 10px;
}
.visitor input:focus {
  outline: none;
}
.visitor button {
  width: 100%;
  height: auto;
  padding: var(--spacing-600);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
}
.visitor button:hover {
  background-color: var(--accent-color-200);
  color: var(--dark);
  transition: 0.7s;
}
.visitor button:focus {
  outline: none;
}
.visitor-name {
  color: var(--accent-color-200);
}

.hero-profile {
  width: 100%;
  padding: var(--spacing-100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--light);
}
.greetings {
  flex: 1;
  padding: var(--spacing-100) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  display: flex;
  justify-content: center;
}
.greetings h2 {
  font-size: var(--fs-200);
}

.profile-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img img {
  width: 100%;
  border-radius: 50%;
}

footer {
  padding: var(--spacing-400);
  text-align: center;
}

@media screen and (min-width: 800px) {
  .hero-profile {
    flex-direction: row;
  }
  .visitor {
    max-width: 32em;
    padding: var(--spacing-200);
  }
  .greetings h2 {
    font-size: var(--fs-100);
  }
  .profile-img img {
    width: 50%;
  }
}
